:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212121;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
:root a{
  text-decoration: none;
  color: inherit;
}
:root a:hover {
  transform: scale(1.05);
  text-decoration:underline;
}
.root-nav > .active > a{
  background: #212121;
  color: #bb86fc;
}

